package config

const (
	SlackTeamIdentifier = ""
	SlackUsername = ""
	SlackIconEmoji = ""
	SlackIconUrl = ""

	SlackAPIToken = ""

	SlackIncomingToken = ""
	SlackIncomingChannel = ""

	SlackBotToken = ""
)

